@import "node_modules/bootstrap/scss/bootstrap";

body {
    .team {
        h3 {
            &:hover {
                cursor: pointer;
            }
        }


    }

    #leaderboard {
        .list {

            -webkit-overflow-scrolling: touch;
        }

        .firstname,
        .lastname {
            line-height: 1.2rem;
        }
    }
}