@import "node_modules/bootstrap/scss/bootstrap";

body {
    .team {
        h3 {
            &:hover {
                cursor: pointer;
            }
        }


    }

    .modal-body {
        -webkit-overflow-scrolling: touch;
    }

    #leaderboard {

        .firstname,
        .lastname {
            line-height: 1.2rem;
        }
    }
}